$color-dark-grey: #343434;
$color-dark-grey-2: #AEB6CE33;
$color-light-grey-1: #7F858D;
$color-light-grey-2: #E9E9E9B2;
$color-light-grey-3: #7F858D;
$color-light-grey-4: #e0e0e0;
$color-light-blue: #f1f5f8;
$color-classic-blue: #4690E2;
$color-blue-1: #1890ff;
$color-red-1: #ff4d4f;
$color-red-2: #d9363e;
$color-green-1: #52c41a;
$color-green-2: #389e0d;
$color-orange-1: #d48806;